<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chrisann.discobox" version="1.0.0" versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Disco Box</name>
    <description>
        3D box displayed using p5 and device orientation.
    </description>
    <author email="support@chrisann.ca" href="http://chrisann.ca">
        Christine Clark
    </author>
    <icon src="www/res/icon/icon.png" />
</widget>
